altgraph==0.17
auto-py-to-exe==2.9.0
backports.entry-points-selectable==1.1.0
bottle==0.12.19
bottle-websocket==0.2.9
cffi==1.14.6
click==7.1.1
distlib==0.3.2
Eel==0.12.4
Flask==1.1.2
Flask-SQLAlchemy==2.4.1
future==0.18.2
gevent==21.1.2
gevent-websocket==0.10.1
greenlet==1.1.0
gunicorn==20.1.0
imutils==0.5.3
itsdangerous==1.1.0
Jinja2==2.11.1
joblib==1.0.1
MarkupSafe==1.1.1
nltk==3.6.2
pefile==2021.5.24
platformdirs==2.0.2
pycparser==2.20
pyinstaller==4.4
pyinstaller-hooks-contrib==2021.2
pywin32-ctypes==0.2.0
regex==2021.7.6
six==1.16.0
SQLAlchemy==1.3.15
textblob==0.15.3
tqdm==4.61.2
virtualenv==20.6.0
Werkzeug==1.0.1
whichcraft==0.6.1
zope.event==4.5.0
zope.interface==5.4.0
PyJWT==1.7.1
pymacaroons==0.13.0
PyNaCl==1.3.0
pyparsing==2.4.6
pyRFC3339==1.1
pytz==2019.3
pyxdg==0.26
PyYAML==5.3.1
reportlab==3.5.34
requests==2.22.0
requests-unixsocket==0.2.0
SecretStorage==2.3.1
simplejson==3.16.0
six==1.14.0
SQLAlchemy==1.4.22
sqlalchemy-orm==1.2.2
ssh-import-id==5.10
typing-extensions==3.10.0.0
typing-inspect==0.7.1
urllib3==1.25.8
wadllib==1.3.3
Werkzeug==2.0.1
zope.interface==4.7.1
setuptools==45.2.0
